<h1>
  <%= recipe.name %>
</h1>

<table "dl-table">
  <tr>
    <td class="dl-table-dt">Prep Time</td>
    <td id="prep_time" class="dl-table-dd"><%= recipe.prep_time || "--" %></td>
  </tr>
  <tr>
    <td class="dl-table-dt">Cook Time</td>
    <td id="cook_time" class="dl-table-dd"><%= recipe.cook_time || "--" %></td>
  </tr>
  <tr>
    <td class="dl-table-dt">Total Time</td>
    <td id="total_time" class="dl-table-dd"><%= recipe.total_time || "--" %></td>
  </tr>
  <tr>
    <td class="dl-table-dt">Servings</td>
    <td id="servings" class="dl-table-dd"><%= recipe.servings || "--" %></td>
  </tr>
</table>

<img id="servings" src="<%= recipe.preview_url %>" />

<ul id="ingredients">
<% recipe.ingredients.each do |group| %>
  <% if !group['name'].nil? && group['name'].length > 0 %>
    <h3>
      <%= group['name'] %>
    </h3>
  <% end %>
  <% group['ingredients'].each do |ingr| %>
  <li>
    <%= ingr %>
  </li>
  <% end %>
<% end %>
</ul>

<ol id="directions">
  <% recipe.directions.each do |dir| %>
    <li>
      <%= dir %>
    </li>
  <% end %>
</ol>

<p id='tester'></p>

<script>
source = new EventSource("/recipes/1/live")

source.addEventListener('recipe_update', function(ea) {
    $('#tester').text(ea.data);
}, 1);
</script>