<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= (yield(:title) + " - " unless yield(:title).blank?).to_s + "Recipes" %>
    </title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="d-flex w-50 order-0">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="navbar-collapse collapse justify-content-center order-2" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <%= render partial: 'nav_item', locals: { label: 'Home', href: '/' } %>
          <%= render partial: 'nav_item', locals: { label: 'Search', href: '/recipes' } %>
        </ul>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
